[faucet]
private_key = "0x..."
faucet_eth_balance = 500

[rpc]
url = "https://mainnet-rpc.gravity.xyz"

[bench]
num_accounts = 100
rpc_concurrency = 32
num_inflight_senders = 50
transfer_type = "erc20"
max_fee_per_gas = 60
max_priority_fee_per_gas = 1
num_tokens = 2
max_pool_size = 40000
